<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div class="center">
    <br>
    <br>
    <br>
    <h1 class="titulo">{{usuarios.nome}}</h1>
    <br>
    <p>{{usuarios.bio}}</p>
    <br>
    <br>
    <div align="center" class="in">
      <blockquote class="instagram-media" data-instgrm-permalink="{{usuarios.perfil}}" data-instgrm-version="12" </blockquote> <script async src="//www.instagram.com/embed.js"></script>
    </div>
    <br>
    <br>

</div>

{{#each links}}

  <div class="card center di">
    <div class="card-body">
      <h2 class="titulo2">{{title}}</h2>
      <br>
      <br>
      <a href="/user/link/{{_id}}"><button class="btn btn-outline-dark">Ver link</button></a>
    </div>
  </div>

{{/each}}

<style>

.titulo {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.titulo2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.lol {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

@media(min-width: 900px){
  .di {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }
}

</style>
